---
layout: photo
title: Misc
photography:
- grad:
  title: Graduation
  image:
  - image_path: /img/photography/grad/1.jpg
    category: grad
  - image_path: /img/photography/grad/2.jpg
    category: grad
  - image_path: /img/photography/grad/3.jpg
    category: grad
  - image_path: /img/photography/grad/4.jpg
    category: grad
  - image_path: /img/photography/grad/5.jpg
    category: grad
- SAC:
  title: Sacramento
  image:
  - image_path: /img/photography/SAC/tower.jpg
    category: SAC
  - image_path: /img/photography/SAC/bridge.jpg
    category: SAC

header-img: "img/bg/home-bg-art.jpg"


---


<!-- <style>
  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }
  .item-image {
  padding-bottom: 50%; /* here the desired aspect ratio */
}
</style> -->
<!-- {% for cat in page.photography %}
  <section class="no-padding" id="portfolio">
    <div class="container">
      <div class="row no-gutter">
        <div class="text-left">
          <h2>{{cat.title}}</h2>
          <hr class="small-margin">
        </div>
        {% for item in cat.image %}
        <div class="col-lg-2">
          <a href="{{ item.image_path }}" data-lightbox="{{item.category}}">
            <img  src="{{ item.image_path }}" class="img-thumbnail image-responsive" alt="{{ item.project }}" >
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>  
{% endfor %} -->
<div class="container">
  <div class="col-lg-9 col-lg-offset-1 postlist-container">
    <h2 class="post-title">Graduation</h2>
        <hr class="small-margin">
        <div class="row">
          <div class="col-sm-3 misc-image">
            <a href="/img/photography/graduation.jpg" data-lightbox="grad">
              <img  src="/img/photography/graduation.jpg" class="img-thumbnail image-responsive" alt="image" >
            </a> 
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            Graduated from Zhejiang University in the summer of 2016. And I took this picture in my college's library.
          </div>
        </div>
    <h2 class="post-title">Photography</h2>
        <hr class="small-margin">
        <div class="row">
          <div class="col-sm-3 misc-image">
            <a href="/img/photography/photography.jpg" data-lightbox="grad">
              <img  src="/img/photography/photography.jpg" class="img-thumbnail image-responsive" alt="image" >
            </a> 
          </div>
          <div class="col-sm-8 col-sm-offset-1">  
            I am a photography lover. Now I am using a Canon 6D with various lens. Also, I love to take nice photos using my iPhone with less burden. Postprocessing pictures is also one of my hobbies. Checkout my <a  href="https://500px.com/rickygao">online gallery </a>
          </div>  
          </div>
    <h2 class="post-title">Soccer</h2>
        <hr class="small-margin">
        <div class="row">
          <div class="col-sm-3 misc-image">
            <a href="/img/photography/soccer.jpg" data-lightbox="grad">
              <img  src="/img/photography/soccer.jpg" class="img-thumbnail image-responsive" alt="image" >
            </a> 
          </div>
          <div class="col-sm-8 col-sm-offset-1">
            I am a huge soccer fan and a midfielder in my college's math department team. My favorite player is Michael Carrick from Manchester United. As you can see from the picture, I am wearing the same #16 soccer jersey as Carrick. However, unlike Carrick, I focus more on attack with less defensive coverage.
          </div>

        </div>
  </div>
</div>