---
layout: base
title: "Research"
---

<!-- we can only use site.posts instead of paginator.posts due to the setting of paginator
that it's only available in index.html -->
<h2 class="post-title">Journal</h2>
<ul class="publication-list">
<!-- <li>
    <div style="color:#333333; font-weight:bold">
        Poisson image blending
    </div>
        By Siyuan Gao
    <div style="font-style:italic">
        Course Project, July 2015
    </div>
    <a href="/attach/blender.pdf" class="btn btn-default" role="button">PDF</a>
</li> -->
<li>
</li>
</ul>

<h2 class="post-title">Conference</h2>
<ul class="publication-list">
<!-- <li>
    <div style="color:#333333; font-weight:bold">
        Regression analysis of NBA Players' PER value
    </div>
        By Siyuan Gao
    <div style="font-style:italic">
        Course Project, September 2014
    </div>
    <a href="https://github.com/carricky/Regression-analysis-of-NBA-PER-value#regression-analysis-of-nba-per-value" class="btn btn-default" role="button">CODE</a>
</li> -->
    <li>
    </li>
</ul>



<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
