---
layout: base
title: "Research"
---

<!-- we can only use site.posts instead of paginator.posts due to the setting of paginator
that it's only available in index.html -->
<h2 class="post-title">Journal</h2>
<ul class="publication-list">
    <li>
        <div style="color:#333333; font-weight:bold">
            Combining Multiple Connectomes Improves Predictive Modeling of Phenotypic Measures
        </div>
            <b>Siyuan Gao</b>, Abigail Greene, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            NeuroImage.
        </div>
        Download: [In press]
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Ten Simple Rules for Predictive Modeling of Individual Differences in Neuroimaging
        </div>
            Dustin Scheinost, Stephanie Noble, Corey Horien, Abigail S Greene, Evelyn Lake, Mehraveh Salehi, <b>Siyuan Gao</b>, Xilin Shen, David O'Connor, Daniel S Barron, Sarah W Yip, Monica D Rosenberg, R. Todd Constable
        <div style="font-style:italic">
            NeuroImage.
        </div>
        Download: [<a href="https://www.sciencedirect.com/science/article/pii/S1053811919301533">link</a>]
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Task-induced brain state manipulation improves prediction of individual traits
        </div>
            Abigail Greene, <b>Siyuan Gao</b>, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            Nature Communications.
        </div>
        Download: [<a href="https://www.nature.com/articles/s41467-018-04920-3">link</a>]
    </li>

    <li>
        <div style="color:#333333; font-weight:bold">
            RCLens: Interactive Rare Category Exploration and Identification
        </div>
            Hanfei Lin, <b>Siyuan Gao</b>, David Gotz, Fan Du, Jingrui He, Nan Cao 
        <div style="font-style:italic">
            IEEE Transactions on Visualization and Computer Graphics, 2017 (oral presentation).
        </div>
        Download: [<a href="https://www.semanticscholar.org/paper/RCLens%3A-Interactive-Rare-Category-Exploration-and-Lin-Gao/ead0796ee7b0bac73181087910caf93e9ed86b65">link</a>] [<a href="https://drive.google.com/open?id=1U4gO2iZfKHbF3z4-hVLI8cZtS4iaji8Z">slides</a>] 

    </li>

    <li>
        <div style="color:#333333; font-weight:bold">
            Adaptively Exploring Population Mobility Patterns in Flow Visualization
        </div> 
            Fei Wang, Wei Chen, Ye Zhao, Tianyu Gu, <b>Siyuan Gao</b>, Hujun Bao
        <div style="font-style:italic">
            IEEE Transactions on Intelligent Transportation Systems, 2017.
        </div>
        Download: [<a href="https://ieeexplore.ieee.org/abstract/document/7954057/">link</a>]
    </li>
</ul>

<h2 class="post-title">Conference</h2>
<ul class="publication-list">
<!-- <li>
    <div style="color:#333333; font-weight:bold">
        Regression analysis of NBA Players' PER value
    </div>
        By Siyuan Gao
    <div style="font-style:italic">
        Course Project, September 2014
    </div>
    <a href="https://github.com/carricky/Regression-analysis-of-NBA-PER-value#regression-analysis-of-nba-per-value" class="btn btn-default" role="button">CODE</a>
</li> -->
    <li>
        <div style="color:#333333; font-weight:bold">
           A Mass Multivariate, Edge-wise Approach for Combining Multiple Connectomes to Improve the Detection of Group Differences
        </div>
            Javid Dadashkarimi, <b>Siyuan Gao</b>, Erin Yeagle, Stephanie Noble, Dustin Scheinost
        <div style="font-style:italic">
            3rd Workshop on Connectomics in NeuroImaging (CNI), 2019
        </div>
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
           Combining Multiple Behavioral Measures and Multiple Connectomes via Multiway Canonical Correlation Analysis
        </div>
            <b>Siyuan Gao</b>, Xilin Shen, Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI), 2019
        </div>
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
           A hierarchical manifold learning framework for high-dimensional brain imaging data
        </div>
            <b>Siyuan Gao</b>, Gal Mishne, Dustin Scheinost
        <div style="font-style:italic">
            International Conference on Information Processing in Medical Imaging (IPMI), 2019.
        </div>
        Download: [<a href="https://link.springer.com/chapter/10.1007/978-3-030-20351-1_49">link</a>] [<a href="https://github.com/carricky/2sDM">code</a>]
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Hierarchical nonlinear embedding reveals brain states and performance differences during working memory tasks
        </div>
            <b>Siyuan Gao</b>, Gal Mishne, Dustin Scheinost
        <div style="font-style:italic">
            Conference on Cognitive Computational Neuroscience (CCN), 2018.
        </div>
        Download: [<a href="https://ccneuro.org/2018/proceedings/1139.pdf">link</a>] 
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Combining Multiple Connectomes via Canonical Correlation Analysis Improves Predictive Models
        </div>
            <b>Siyuan Gao</b>, Abigail Greene, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            International Conference on Medical Image Computing and Computer Assisted Intervention (MICCAI), 2018
        </div>
        Download: [<a href="https://link.springer.com/chapter/10.1007/978-3-030-00931-1_40">link</a>] [<a href="https://github.com/YaleMRRC/CPM">code</a>]
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Task‐induced brain state manipulation improves prediction of individual traits
        </div>
            Abigail Greene, <b>Siyuan Gao</b>, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            Organization for Human Brain Mapping (OHBM) Annual Meeting, Singapore, 2018 (poster)
        </div>
    </li>
    
    <li>
        <div style="color:#333333; font-weight:bold">
            Task Integration For Connectome-based Prediction Via Canonical Correlation Analysis
        </div>
            <b>Siyuan Gao</b>, Abigail Greene, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            IEEE International Symposium on Biomedical Imaging (ISBI), 2018
        </div>
        Download: [<a href="https://ieeexplore.ieee.org/abstract/document/8363529/">link</a>]
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Brain state perturbation improves connectome-based predictive modeling of related behaviors
        </div>
            Abigail Greene, <b>Siyuan Gao</b>, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            Society for Neuroscience(SfN), 2017.
        </div>
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Connectome-based predictive modeling: the impact of brain state and sex in a developmental cohort
        </div>
            Abigail Greene, <b>Siyuan Gao</b>, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            Flux Congress, 2017. 
        </div>
    </li>
</ul>

<h2 class="post-title">Talk & Presentation</h2>
<ul class="publication-list">
<li> 
    <div style="color:#333333; font-weight:bold"> Department of Computer Science, University of Electronic Science and Technology of China, </div> Chengdu, China, Jan 15, 2018
</li>

<li> 
    <div style="color:#333333; font-weight:bold"> IEEE Visualization Conference (VIS 2017), </div> 
    Phoenix AZ,  Oct 5, 2017
</li>
</ul>



<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
