---
layout: base
title: "Research"
---

<!-- we can only use site.posts instead of paginator.posts due to the setting of paginator
that it's only available in index.html -->
<h2 class="post-title">Journal</h2>
<ul class="publication-list">
    <li>
        <div style="color:#333333; font-weight:bold">
            RCLens: Interactive Rare Category Exploration and Identification
        </div>
            Hanfei Lin, <b>Siyuan Gao</b>, David Gotz, Fan Du, Jingrui He, Nan Cao 
        <div style="font-style:italic">
            IEEE Transactions on Visualization and Computer Graphics, 2017 (oral presentation).
        </div>
        Download: [<a href="/attach/lin2017TVCG.pdf">pdf</a>] [<a href="/attach/vis_2017.pdf">slides</a>] 

    </li>

    <li>
        <div style="color:#333333; font-weight:bold">
            Adaptively Exploring Population Mobility Patterns in Flow Visualization
        </div> 
            Fei Wang, Wei Chen, Ye Zhao, Tianyu Gu, <b>Siyuan Gao</b>, Hujun Bao
        <div style="font-style:italic">
            IEEE Transactions on Intelligent Transportation Systems, 2017.
        </div>
        Download: [<a href="/attach/2017TITS.pdf">pdf</a>]
    </li>
</ul>

<h2 class="post-title">Conference</h2>
<ul class="publication-list">
<!-- <li>
    <div style="color:#333333; font-weight:bold">
        Regression analysis of NBA Players' PER value
    </div>
        By Siyuan Gao
    <div style="font-style:italic">
        Course Project, September 2014
    </div>
    <a href="https://github.com/carricky/Regression-analysis-of-NBA-PER-value#regression-analysis-of-nba-per-value" class="btn btn-default" role="button">CODE</a>
</li> -->
    <li>
        <div style="color:#333333; font-weight:bold">
            Combining Multiple Connectomes via Canonical Correlation Analysis Improves Predictive Models
        </div>
            <b>Siyuan Gao</b>, Abigail Greene, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            INTERNATIONAL CONFERENCE ON MEDICAL IMAGE COMPUTING and COMPUTER ASSISTED INTERVENTION (MICCAI), 2018
        </div>
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Task Integration For Connectome-based Prediction Via Canonical Correlation Analysis
        </div>
            <b>Siyuan Gao</b>, Abigail Greene, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            IEEE International Symposium on Biomedical Imaging (ISBI), 2018
        </div>
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Brain state perturbation improves connectome-based predictive modeling of related behaviors
        </div>
            Abigail Greene, <b>Siyuan Gao</b>, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            Society for Neuroscience(SfN), 2017.
        </div>
    </li>
    <li>
        <div style="color:#333333; font-weight:bold">
            Connectome-based predictive modeling: the impact of brain state and sex in a developmental cohort
        </div>
            Abigail Greene, <b>Siyuan Gao</b>, R. Todd Constable, Dustin Scheinost
        <div style="font-style:italic">
            Flux Congress, 2017. 
        </div>
    </li>
</ul>

<h2 class="post-title">Talk & Presentation</h2>
<ul class="publication-list">
<li> 
    <div style="color:#333333; font-weight:bold"> Department of Computer Science, University of Electronic Science and Technology of China, </div> Chengdu, China, Jan 15, 2018
</li>

<li> 
    <div style="color:#333333; font-weight:bold"> IEEE Visualization Conference (VIS 2017), </div> 
    Phoenix AZ,  Oct 5, 2017
</li>
</ul>



<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
